*{ 
    margin: 0px;
     font-family: "inter"; 

} 
#logo{
    margin-top: 50px;
    margin-left: 50px;
} 
#títulomenusuperior{
    margin-left: 150px; 
    margin-top: 75px; 
} 
#textosup{
    margin-top: 35px;
    margin-left: 150px;
    padding-bottom: 100px;
    
} 
#menusup{   background-image: url(imagens/fundomenusup.svg) ;
    color: aliceblue; 

} 
#menuinfo{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto; 
} 
.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
} 
#secaovideo{
 display: grid;
 grid-auto-flow: column;
 columns: auto;
}
.textoinfo{
    display: flex;
    align-items: center;
}
#titulovid{
    color:#247BA0 ;
    margin-top: 50px;
}
#video{
    margin: 50px 25px 50px 100px;
}
#titulocarrocel{
    background-color: #247BA0;
    padding: 50px;
} 
#textocarrocel{
    color: white;
    text-align: center;
    font-size: 25px;
} 
#card{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
  
} 
.foto{
    margin-left: 50px;
} 
#setaesquerda{
    display: none;
} 
#bruna{
    display: none;
} 
.setas{
 margin-top: 55%;
 cursor: pointer;
} 
.setas:hover{
transform: translateY(-7px);
transition-duration: 0.5s;
}
#menuformulario{
text-align: center;
}
#tituloformulario{
font-size: 25px;
margin: 25px;
color: #383838;
}
input{
    width: 300px;
    height: 30px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder; 
    cursor: pointer;
}
button:hover{
    background-color: #318fb8;
    color: white;
    transform: translate(-7px);
    box-shadow: 0px 15px 20px #08374b;
    transition-duration: 0.5s;
}